@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
*,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #0e2238;
    --font-color: #fff;
    --border-left: #3b7ddd;
}

.selectButtons {
    position: fixed;
    top: 10%;
    left: 8%;
    width: 80%;
    display: flex;
    gap: 5rem;

}

#graphType {
    position: fixed;
    top: 10%;
    right: 3%;
}

.suggestionBox {
    display: none;
}

#selectMarksType {
    display: none;
}

.marks-container {
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: -10;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: 1rem;
    display: none;
}

.marks-detail {
    color: var(--font-color);
    background-color: rgb(3, 177, 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
    transition: 300ms all ease;
    height: 6rem;
    width: 8rem;

}

.marks-detail:hover {
    background-color: rgb(8, 114, 2);
    transform: scale(.97);
    cursor: pointer;
}

.marks-container i {
    font-size: 2rem;
}

.marks-container p {
    font-weight: bolder;
    margin-bottom: 0;
}

.ConfirmButton {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    display: flex;
    gap: 1rem;
}