@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
*,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #0e2238;
    --font-color: #fff;
    --border-left: #3b7ddd;
    --font:poppins;
}

#pageName{
    font-size: 2rem;
    font-weight: bolder;
    font-family: var(--font);
    color: var(--primary-color);
    position: fixed;
    top: 12%;
    left: 8%;
}

.mainContainer{
    /* background-color: antiquewhite;
    border: #0e2238 1px solid; */
    position: fixed;
    top: 20%;
    left: 10%;
    height: 70%;
    width: 80%;
    z-index: -100;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    font-family: var(--font);
}

.types{
    height: 8rem;
    background-color: red;
    width: 10rem;
    padding: 2rem;
    text-wrap: wrap;
    border-radius: 10px;
    color: white;
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.types:hover{
    transform: scale(.97);
    background-color: rgb(181, 5, 5);
    cursor: pointer;
}