@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
*,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #0e2238;
    --font-color: #fff;
    --border-left: #3b7ddd;
    --font:poppins;
}

#pageName{
    font-size: 2rem;
    font-weight: bolder;
    font-family: var(--font);
    color: var(--primary-color);
    position: fixed;
    top: 12%;
    left: 8%;
}

#mainContainer{
    /* background-color: antiquewhite;
    border: #0e2238 1px solid; */
    position: fixed;
    top: 20%;
    left: 10%;
    height: 70%;
    width: 80%;
    z-index: -100;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    font-family: var(--font);
}



.marks-detail {
    color: white !important; /* White text */
    background-color:#122539; /* Matches the primary color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px; /* Smooth edges */
    gap: 0.5rem;
    height: 6rem;
    width: 8rem;
    transition: all 300ms ease-in-out; /* Smooth hover effect */
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 12%, 46% 12%, 46% 0); /* Folder-like shape */
}

.marks-detail:hover {
    background-color: #162a3c; /* Slightly darker shade of the primary color */
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
    cursor: pointer;
}

#mainContainer .marks-container a {
    font-weight: bold;
    margin: 0;
    color: rgba(255, 255, 255, 0.8) !important; /* Slightly muted white */
    text-decoration: none;
}