@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
*,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #0e2238;
    --font-color: #fff;
    --border-left: #3b7ddd;
}

.main-container {
    position: fixed;
    top: 18%;
    left: 7%;
    height: 80%;
    width: 90%;
    z-index: -1000;
}

#attendanceTable {
    width: 100%;
    height: 100% !important;
}

.non-working {
    background-color: #ffcccc !important;
    /* Red color for non-working days */
}

.holiday {
    background-color: #ffd700 !important;
    /* Gold color for holidays */
}

.remarked {
    background-color: #e0e0e0 !important;
    /* Light gray background for remarked cells */
}

#remarksList {
    margin-top: 20px;
}

#remarksList table {
    width: 100%;
    border-collapse: collapse;
}

#remarksList th,
#remarksList td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#remarksList th {
    background-color: #f2f2f2;
}

.buttonsContainer{
    position: fixed;
    top: 10%;
    right: 3%;
}


#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    z-index: 9999;
  }
  
  #spinner {
    border: 4px solid transparent;
    border-top: 4px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  