@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
*,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #0e2238;
    --font-color: #fff;
    --border-left: #3b7ddd;
    --font: poppins;

}

.main-container {
    position: fixed;
    top: 18%;
    left: 7%;
    height: 80%;
    width: 90%;
    z-index: -1000;
}

#attendanceTable {
    width: 100%;
    height: 100% !important;
}

.non-working {
    background-color: #ffcccc !important;
    /* Red color for non-working days */
}

.holiday {
    background-color: #ffd700 !important;
    /* Gold color for holidays */
}

.remarked {
    background-color: #e0e0e0 !important;
    /* Light gray background for remarked cells */
}

#remarksList {
    margin-top: 20px;
}

#remarksList table {
    width: 100%;
    border-collapse: collapse;
}

#remarksList th,
#remarksList td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#remarksList th {
    background-color: #f2f2f2;
}

.buttonsContainer {
    position: fixed;
    top: 10%;
    right: 3%;
}


#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    z-index: 9999;
    font-family: var(--font);
}



/* Style for the popup container */
.tablePopup {
    display: none;
    /*  Hidden by default */
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black with opacity */
    overflow: auto;
    /* Enable scroll if needed */
    padding-top: 60px;
}

.popup-content {
    background-color: #fff;
    border-radius: 10px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 81%;
    height: 80% !important;

}
.popup-content h3{
    color: var(--border-left);
    text-align: center;
    font-family: var(--font);
}

#attendancePopupTable,#dailyAttendancePopupTable {
    height: 90% !important;
    width: max-content;
    text-align: center;

}

.close-btn {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: rgb(173, 6, 6);
    text-decoration: none;
    cursor: pointer;
}

.popup-table-container {
    margin-top: 20px;
}