@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,*,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root{
    --primary-color:#0e2238;
    --font-color:#fff;
    --border-left:#3b7ddd;
}

/* sidebar starts */

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body span,p,a{
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}


#sidebar {
    width: 70px;
    min-width: 70px;
    transition: all .25s ease-in-out;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: fixed;
}


#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: var(--font-color);
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: var(--font-color);
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: var(--font-color);
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}



a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid var(--border-left);
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: var(--primary-color);
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

#sidebar a{
    text-decoration: none;
}

/* sidebar ends */


header{
    background-color: #3b7ddd;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    font-size: 1.1rem;
    font-weight: bolder;
    color:var(--primary-color);
    margin-right: 1.2rem;
    background-color: var(--font-color);
    border-radius: 50%;
    padding: 2px 6px;
    font-family: 'Poppins', sans-serif;
  
}

.logo{
    margin-left:2% ;
    font-weight: bolder;
    color: var(--font-color);
    cursor: pointer;
    font-size: 1.4rem;
}

.user-info{
    position: absolute;
    top: 10%;
    right:2%;
    color: var(--font-color);
    background-color: var(--primary-color);
    padding: 1.5rem 1rem;
    height: 10rem;
    width: 9rem;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    z-index: 100;
}

.user-info a{
    text-decoration: none;
}

.user-info {
    display: none;
}

#name{
    font-size: 1.3rem;
    font-weight: bolder;
    align-self: center;
}
#teacher{
    font-size: .9rem;
    font-weight: bold;
    align-self: center;
}

#logout{
    font-weight: bolder;
    color: wheat;
}

.name-container{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

#logout-warning{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 1rem 3rem;
    font-weight: bold;
    border-radius: 10px;
    display: none;

}

.yes-no{
    display: flex;
    justify-content: space-around;
    color: var(--font-color);
}

.yes-no button{
    font-weight: bolder;
}


.popup {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.show {
    display: block;
}


.main-container{
    position: fixed;
    top: 15%;
    left: 13%;
    width: 80%;
    z-index: -100;
}

.main-container img{
    width: 90%;
}

.subjects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.sub-cards{
    height: 15rem;
    width: 17rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: .3rem;
    position: relative;
    transition: all 300ms ease;
}

.sub-cards:hover{
    transform: scale(.95);
}

.sub-cards p{
    color: green;
    font-weight: bolder;
    background-color: antiquewhite;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
}

.attendance-container{
    cursor: pointer;
}

#classNow{
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding: .5rem .9rem;
    border-radius: 50%;
    cursor: pointer;
}


#showClassesForLead{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 1rem 3rem;
    font-weight: bold;
    border-radius: 10px;
    align-items: center;
    width: 300px;
    gap: 1rem;
    display: none;
}

