@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
*,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

:root{
    --primary-color:#0e2238;
    --font-color:#fff;
    --border-left:#3b7ddd;
}

.buttons{
    position: fixed;
    top: 10%;
    right: 2%;
}


#handsontable{
    position: absolute;
    top: 15%;
    left: 30%;
    z-index: -10;
}

.file-name{
    position: fixed;
    top: 15%;
    left: 7%;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    color: var(--border-left);
    z-index: -10;
}
.page-name {
    position: fixed;
    top: 10%;
    left: 7%;
    z-index: -10;
    font-weight: bolder;
    font-family: poppins;
    color: var(--primary-color);
    z-index: -10;
}

.error {
    background-color: rgb(90, 1, 1) !important; /* Change background to red */
    color: white; /* Optional: Change text color for better visibility */
  }
  
.red{
    background-color: red !important;
    color: white !important;
}
.yellow{
    background-color: yellow !important;
    color: rgb(0, 0, 0) !important;
}
.green{
    background-color: green !important;
    color: white !important;
}