.page-name {
    position: fixed;
    top: 10%;
    left: 7%;
    font-weight: bolder;
    font-family: poppins;
    color: var(--primary-color);
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .4rem;

}

.page-name p{
    margin-bottom: 0;
}

.exceeding-marks {
    background-color: #ffcccc; /* Light red color */
  }

.markGreatThanTotal{
    background-color: red !important;
    color: white;
}

.error{
    background-color: rgb(0, 0, 0);
    
}
.red {
    background-color: #ff5757 !important;
}
.yellow {
    background-color: #ffed22 !important;
}
.green {
    background-color: #4dff00 !important;
    color: black !important;
}
/* ["#7ed957", "#ffde59", "#ff5757"] */

.forChart{
    position: fixed;
    top: 35%;
    right: -7%;
    height: 30%;
    width: 30%;
    
}