.page-name {
    position: fixed;
    top: 10%;
    left: 7%;
    font-weight: bolder;
    font-family: poppins;
    color: var(--primary-color);
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .4rem;

}

.page-name p{
    margin-bottom: 0;
}

.exceeding-marks {
    background-color: #ffcccc; /* Light red color */
  }

.markGreatThanTotal{
    background-color: red !important;
    color: white;
}

.error{
    background-color: brown;
}
.red {
    background-color: red !important;
}
.yellow {
    background-color: yellow !important;
}
.green {
    background-color: green !important;
}


.forChart{
    position: fixed;
    top: 35%;
    right: -7%;
    height: 30%;
    width: 30%;
    
}